*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
header{
    font-size: 50px;
    text-align: center;
    height: 150px;
    line-height: 150px;
}
nav{
   text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 2%;
}
.content{
    display: inline-block;
}
aside{
    display: inline-block;
    width: 20%;
    text-align: center;
    position: relative;

}
aside ul{
    list-style: inside;
}
article{
    display: inline-block;
    width: 58%;
    text-align: center;
    border-right: 1px dotted black;
    border-left: 1px dotted black;
}
.image1{
    width: 40%;
    height: 70%;
    position: absolute;
    top: -100%;
    left: 30%;
}
.image2{
    width: 	40%;
    height: 70%;
    position: absolute;
    top: -100%;
    right: 30%;
}