*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content{
    width: 1200px;
    text-align: center;
}
.box{
    width: 33%;
    height: 200px;
    background: black;
    display: inline-block;
    line-height: 200px;
}
.boxhover{
    width: 180px;
    height: 40px;
    border: 1px solid rgb(175, 248, 106);
    background-color: transparent;
    color: white;
    font-size: large;
    overflow: hidden;
    position: relative;
    transition: border-radius 1s , border  1s , background-color 1s, color 1s ;
    
}
.box:first-child .boxhover:hover{
    border: 1px solid rgb(43, 213, 243);
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
    cursor: pointer;
}
.box:nth-child(2) .boxhover:hover{
    z-index: 2;
    color: red;
    cursor: pointer;
  
}
.box:nth-child(2) .boxhover::after{
    left: 50%;
    right: 50%;
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: left 0.7s , color 0.7s , right 0.7s , opacity 0.7s;
}
.box:nth-child(2) .boxhover:hover::after{
    left: 0%;
    right: 0%;
    opacity: 0.3;
}