*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content{
    
    text-align: center;
}
.box{
    width: 200px;
    background:yellow;
    display: inline-block;
    vertical-align: top;
}